<h1>Hogwarts Admittance Letter - Welcome to the Magical World of Wizardary</h1>
<hr>
<%=form_with model:@student do |f|%>
    <%=f.label :name%><br><br>
    <%=f.text_field :name%><br><br>
    <%=f.label :password%><br><br>
    <%=f.password_field :password%><br><br>
    <%=f.label :password_confirmation%><br><br>
    <%=f.password_field :password_confirmation%><br><br>
    <%=f.collection_select :house_id, House.all, :id, :name%><br><br>
    <%=f.submit%>
    <%end%>
