<div class='container'>
<h1><%=@student.name%> of House <%=@student.house.name%>'s Timetable</h1>

<hr>

<h3><%=@student.name%>'s Timetable <%=Time.now%></h3>


<%@student.lessons.each do |l|%>
    <li><%=l.lesson_name%> lesson at <%=l.location%> - <%=l.time%>pm</li>
    <%end%>

<hr>

<h3><%=@student.name%>'s Semester Report Card</h3>



<div class='student-info'>
  <div class='info-grade'>
    <h4>Grade</h4>

    <%@student.grades.each do |g|%>
      
      <li><%=g.grade_achievement%></li>
    
    <% end %>

  </div>
  <div>

  <h4>Subject</h4>

  <%@student.lessons.each do |l|%>
    
    <li><%=l.lesson_name%></li>
  <% end %>
  
  </div>
</div>

 
<hr>
<%=button_to 'log out', '/logout', method: :delete%>
</div>
<hr>
<%=button_to 'School Lessons Calendar', '/lessons', method: :get%>
</div>