<h1>Hogwarts Faculty Admittance Letter - Welcome to the Magical World of Wizardary</h1>
<hr>
<%=form_with model:@professor do |f|%>
    <%=f.label :name%>
    <%=f.text_field :name%>
    <%=f.label :subject%>
    <%=f.text_field :subject%>
    <%=f.submit%>
    <%end%>