</h1>Sign up for a new lesson</h1>
<hr>
<l>Click on Professors page below to find out their discipline before signing up for class</l>
<hr>
<%@professors.each do |p|%>
    <l>Professor <%=link_to p.name, p%></l><br><br>
    <%end%>

    <hr>

<%=form_with model:@lessons do |f|%>
    <%=f.label :lesson_name%>
    <%=f.text_field :lesson_name%>
    <%=f.collection_select :professor_id, Professor.all, :id, :name%>
    <%=f.collection_select :student_id, Student.all, :id, :name%>
    <%=f.submit%>
    <%end%>
